<div class="pure-g" id="tiles-header">
    <div class="pure-u-1-4">My Tiles</div>
    <div class="pure-u-1-4">Debug</div>
    <div class="pure-u-1-4">Online</div>
    <div class="pure-u-1-4">In use</div>
</div>


<div id="tiles" class="pure-g">
    {{#each tiles}}
        <div class="tile" id="tile-{{id}}" data-id="{{id}}">
            <div class="pure-u-1-4">{{name}}</div>
            <div class="pure-u-1-4"><a href="#{{id}}" class="tile-terminal" data-id="{{id}}"><i
                    class="fa fa-terminal fa-box"></i></a></div>
            <div class="pure-u-1-4">{{> awsmRadio type="success" name=name id=id value=id isChecked=online }}</div>
            <div class="pure-u-1-4">{{> awsmRadio type="success" name=name id=id value=id isChecked=inUse }}</div>
        </div>
    {{/each}}
</div>
